* {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

:root {
    --blue2:#001b3d;
    --blue1:#083c80;
    --gray:#dbdbdb;
    --shadow:#00000055;
}

header {
    display: block;
    justify-self: center;
}
.logo {
    font-weight: bold;
    justify-content: center;
    color: #fff;
    position: absolute;
    margin-top: 30px;
    right: 15%;
    font-size: 20px;
}

img {
    max-width: 100%;
    height: 100%;
}

section {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 500px;
    background: #fff;
    box-shadow: 0px 0px 20px var(--shadow);
    padding: 50px;
    border-radius: 20px;
    margin: 30px auto;
}
.info-container {
    display: flex;
    justify-content: space-between;
}

.right-content {
    margin-right: 20px;
}

.car-desc {
    margin-left: 15px;
}

.text-desc {
  font-size: 20px;
  margin-top: 20px;
}

button {
    margin-top: 10px;
    display: block;
    padding: 15px 20px;
    color: var(--blue1);
    border: 2px solid var(--blue1);
    border-radius: 55px;
    cursor: pointer;
    justify-self: flex-end;
}
button:hover {
    background: #dbdbdb;
}

footer {
    background: var(--blue2);
    color: white;
    padding: 20px 40px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.logo-footer {
    font-weight: bold;
}
.links-footer span{
    cursor: pointer;
}
.links-footer span:hover {
    text-decoration: underline;
}
a {
    text-decoration: none;
    color: #fff;
}