* {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

:root {
    --blue2:#001b3d;
    --blue1:#083c80;
    --gray:#dbdbdb;
    --shadow:#00000085;
}

body { 
    background-color: #f1f1f1;
}

.hero {
    background: url('https://images.unsplash.com/photo-1503376780353-7e6692767b70')
        center/cover no-repeat;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
    color: white;
    box-shadow: 0 5px 20px var(--shadow);
}
.hero-content {
    width: 45%;
    padding-left: 80px;
}

button {
    padding: 10px 40px;
    border: 2px solid white;
    background: transparent;
    border-radius: 30px;
    color: white;
    cursor: pointer;
}
.ofertas {
    margin: auto;
    display: block;
    color: var(--blue1);
    border-color: var(--blue1);
}
.comprar-button {
    margin: 5px auto 0 auto;
    display: block;
    color: var(--blue2);
    border-color: var(--blue2);
    padding: 5px 20px;
}

h2 { 
    text-align: center; 
    margin-top: 40px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 30px;
}

.card {
    height: 300px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.card .img {
    padding: 0 10px;
    height: 150px;
    width: 200px;
    margin: 0 auto 10px auto;
    background: var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 0px 0px;
}

.car-name {
    text-align: start;
    padding: 10px;
}
.car-details {
    color: var(--shadow);
    text-align: start;
    padding: 0 10px 10px 10px;
    display: flex;
    gap: 5px;
    flex-direction: column;
}
.car-details span {
    padding-left: 10px;
    color: #000;
    font-weight: bold;
}

footer {
    background: var(--blue2);
    color: white;
    padding: 20px 40px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.links-footer span{
    cursor: pointer;
}
.links-footer span:hover {
    text-decoration: underline;
}