* {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}
.header-links > a, .logo-footer > a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

:root {
    --blue2:#001b3d;
    --blue1:#083c80;
    --gray:#dbdbdb;
    --shadow:#00000085;
}

body { 
    background-color: #f1f1f1;
}

nav {
    display: block;
    align-self: center;
}

.banner {
    background: url('../imgs/HiMotors\ Banner.png')
        center/cover no-repeat;
    height: 75vh;
    display: flex;
    flex-direction: column;
    padding: 60px;
    color: white;
    box-shadow: 0 5px 20px var(--shadow);
}
.banner-content {
    width: 45%;
    padding: 60px 0 0 60px ;
}

button {
    padding: 10px 40px;
    border: 2px solid white;
    background: transparent;
    border-radius: 30px;
    color: white;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: 0;
}
button:hover{
    background: #1a1a1a33;
}
.ofertas {
    margin: auto;
    display: block;
    color: var(--blue1);
    border-color: var(--blue1);
}
.ofertas:hover {
    background: #d1d1d1;
}
.comprar-button {
    margin: 8px auto 0 auto;
    display: block;
    color: var(--blue2);
    border-color: var(--blue2);
    padding: 5px 20px;
}
.comprar-button:hover{
    background: var(--blue2);
    color: #fff;
    font-weight: bold;
}

h2 { 
    text-align: center; 
    margin-top: 40px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 30px;
}

.card {
    height: 305px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.card .img {
    padding: 0 10px;
    height: 150px;
    width: 200px;
    margin: 0 auto 10px auto;
    background: var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 0px 0px;
}

.car-name {
    text-align: start;
    padding: 10px;
}
.car-details {
    color: var(--shadow);
    text-align: start;
    padding: 0 10px 10px 10px;
    display: flex;
    gap: 5px;
    flex-direction: column;
}
.car-details span {
    padding-left: 10px;
    color: #000;
    font-weight: bold;
}

footer {
    background: var(--blue2);
    color: white;
    padding: 20px 40px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.links-footer span{
    cursor: pointer;
}
.links-footer span:hover {
    text-decoration: underline;
}

/* Reduzir padding e ajustar o layout para telas pequenas */
@media (max-width: 768px) {
    .banner-content {
        width: 90%;
        padding: 20px;
    }

    .cards {
        flex-direction: column;
        gap: 20px;
        padding: 10px;
    }

    .card {
        width: 90%;
        margin: 0 auto;
        height: auto; /* permite altura automática para melhor fluidez */
    }

    button {
        padding: 10px 20px;
        font-size: 14px;
    }

    nav .logo {
        font-size: 1.2em;
    }

    .banner {
        height: 50vh;
        padding: 20px;
    }
}
