<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<title>HiMotors</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='imgs/logo-himotors.ico') }}" type="image/x-icon">
</head>
<body>

<header class="banner">
    <nav class="">
        <span class="header-links"><a href="#">H!Motors</a> | <a href="{{ url_for('login') }}">Login</a></span>
    </nav>
    <div class="banner-content">
        <h2 style="text-align: start;">Aqui para você</h2>
        <h1 style="font-size: 50px;">Alta variedade para que você possa escolher o certo</h1>
        <button>Veja mais</button>
    </div>
</header>

<main>
    <section>
        <h2>Últimos Lançamentos</h2>
        <div class="cards">
            {% for c in carros_lancamentos %}
            <div class="card">
                <div class="img"><img src="{{ url_for('static', filename='imgs/card-imgs/' + c.nome + '.png') }}" alt="{{ c.nome }}"></div>
                <div class="other">
                    <h3 class="car-name">{{ c.nome }}</h3>
                    <p class="car-details">{{ c.desc }}<span>À partir de</span></p>
                    <span class="car-price">{{ c.preco }}</span>
                    <a href="{{ url_for('carro_detalhes', nome=c.nome) }}"><button class="comprar-button">Comprar</button></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <button class="ofertas">Outras ofertas</button>
    
    <section>
        <h2>BMW</h2>
        <div class="cards">
            {% for c in carros_bmw %}
            <div class="card">
                <div class="img"><img src="{{ url_for('static', filename='imgs/card-imgs/' + c.nome + '.png') }}" alt="{{ c.nome }}"></div>
                <div class="other">
                    <h3 class="car-name">{{ c.nome }}</h3>
                    <p class="car-details">{{ c.desc }}<span>À partir de</span></p>
                    <span class="car-price">{{ c.preco }}</span>
                    <a href="{{ url_for('carro_detalhes', nome=c.nome) }}"><button class="comprar-button">Comprar</button></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</main>

<footer>
    <p><span class="logo-footer"><a href="#"><img src="{{ url_for('static', filename='imgs/'logo-removebg.png') }}" alt="{{ c.nome }}"></a></span></p>
    <p class="links-footer"><span>Informações Legais</span> | <span>Privacidade</span> | <span>Cookies</span></p>
</footer>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
