<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Login - HiMotors</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/logo-himotors.ico') }}" type="image/x-icon">
</head>
<body>

<main>
  <section class="login-container">
    <h2 class="logo">H!Motors</h2>
    <form id="loginForm" action="{{ url_for( 'login') }}" method="POST">
      <input class="email" type="text" id="email" name="email" placeholder="Email" required autocomplete="email">
      <input class="senha" type="password" id="password" name="password" placeholder="Senha" required autocomplete="current-password">
      <p class="error-message" id="message" style="color:red;">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul style="color: red;">
              {% for message in messages %}
                <li class="error-message">{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
      </p>
      <div class="buttons">
        <button class="next" type="submit">Avançar</button>
        <button type="submit">Registrar</button>
      </div>
    </form>
  </section>
</main>



<div class="footer-container">
  <footer>
      <p><span class="logo"><a href="{{ url_for('home') }}">H!Motors</a></span></p>
      <p class="links-footer"><span>Informações Legais</span> | <span>Privacidade</span> | <span>Cookies</span></p>
  </footer>
</div>

<script src="{{ url_for('static', filename='js/login.js') }}"></script>

</body>
</html>